html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #c2c1c1;
    
}
/*=============HEADER===================== */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav ul li {
    position: relative;
}

nav > ul > li > a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding-left: 16px;
}

nav ul li ul a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li:hover ul {
    display: block;
}

nav li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #747171;
}

/* =============BANNER===================== */
.banner {
    background: url('Imgs/Banner.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.banner::before {
    content: ""; /* Necesario para que el pseudo-elemento se muestre */
    position: absolute; /* Posiciona el pseudo-elemento en relación con el banner */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* Estos cuatro valores hacen que el pseudo-elemento cubra todo el banner */
    background: rgba(0, 0, 0, 0.5); /* Añade una capa negra semitransparente sobre la imagen del banner */
    z-index: -1;
}
/* =============TITULO BAJO EL BANNER===================== */
.header {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    color: white;
}

/* =============PORTADA MODELO===================== */
.modelo {
    background-color: #c2c1c1;
    padding: 20px;
    text-align: center;
}

/* Estilos para el botón */
.show-modelo {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

.show-modelo:hover {
    background-color: #706f6e;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container .show-modelo {
    position: absolute;
    bottom: 0;
    left: 0;
}

.modelo img {
    width: 50%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
}

.modelo-grid {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}
/* =============CARDS===================== */
.modelo-card {
    display: flex;
    flex-direction: column; 
    flex: 1 0 10%;
    margin: 1%; 
    box-sizing: border-box
}

/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .modelo-card {
        flex: 1 0 50%; /* Hace que cada tarjeta ocupe al menos el 50% del ancho del contenedor en pantallas pequeñas */
    }
}

.modelo-card p {
    color: #666;
    font-size: 16px;
}

.modelo-card h2 {
    color: #333;
    font-size: 24px;
}

.modelo-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.modelo-card img {
    width: 50%; 
    height: auto; 
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
}

.modelo-card button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

.modelo-card button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
/* =============BOTON DE WHATSAPP===================== */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 30px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.whatsapp-button img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
