h1{
    font-family: "Caveat", cursive;
    font-size: 55px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #c2c1c1;
    
}
/*=============HEADER===================== */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav ul li {
    position: relative;
}

nav > ul > li > a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding-left: 16px;
}

nav ul li ul a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li:hover ul {
    display: block;
}

nav li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #747171;
}

/* =============BANNER===================== */
.banner {
    background: url('Imgs/Banner.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.banner::before {
    content: ""; /* Necesario para que el pseudo-elemento se muestre */
    position: absolute; /* Posiciona el pseudo-elemento en relaci칩n con el banner */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* Estos cuatro valores hacen que el pseudo-elemento cubra todo el banner */
    background: rgba(0, 0, 0, 0.3); /* A침ade una capa negra semitransparente sobre la imagen del banner */
    z-index: -1;
}
/* =============TITULO BAJO EL BANNER===================== */
.header {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    color: white;
}

/* =============PORTADA MODELO===================== */
.modelo {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
        url('Imgs/background-seccion.jpg') no-repeat center center fixed; 
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    text-align: center;
    color: rgb(243, 238, 238);
}
/* Estilos para el bot칩n */
.show-modelo {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

.show-modelo:hover {
    background-color: #fffefd;
    color: #000000;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); 
}

.image-container .show-modelo {
    position: absolute;
    bottom: 0;
    left: 0;
}

.modelo img {
    width: 50%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
}

.modelo-grid {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}
/* =============CARDS===================== */

.modelo-card {
    display: flex;
    flex-direction: column; 
    flex: 1 0 10%;
    margin: 1%; 
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6); /*fondo blanco con transparencia */
}

/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .modelo-card {
        flex: 1 0 50%; /* ocupa al menos el 50% del ancho del contenedor en pantallas peque침as */
    }
}

.modelo-card p {
    color: rgb(10, 10, 10);
    font-size: 16px;
    margin-top: 0;
}

.modelo-card h2 {
    color: rgb(10, 10, 10);
    font-size: 24px;
    margin-bottom: 0;
}

.modelo-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.modelo-card img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6); 
}

.modelo-card button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

.modelo-card button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}
/* =============BOTON DE WHATSAPP===================== */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 30px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.whatsapp-button img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =============FOOTER===================== */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff; /* Cambia el color de los enlaces a blanco */
    margin-right: 10px; /* Agrega un poco de espacio a la derecha de cada enlace */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

footer i {
    font-size: 1 em;
    margin-right: 0 5px;
}